<%= form_with(model: cake, local: true) do |form| %>
  <% if cake.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cake.errors.count, "error") %> prohibited this cake from being saved:</h2>

      <ul>
        <% cake.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :cake_type %>
    <%= form.number_field :cake_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
