<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cake.name %>
</p>

<p>
  <strong>Cake type:</strong>
  <%= @cake.cake_type %>
</p>

<%= link_to 'Edit', edit_cake_path(@cake) %> |
<%= link_to 'Back', cakes_path %>
